<main role="main" class="container">
  <%= if info = get_flash(@conn, :info) do %>
  <article class="message is-success">
    <div class="message-body">
      <%= info %>
    </div>
  </article>
  <% end %>
  <%= if error = get_flash(@conn, :error) do %>
  <article class="message is-danger">
    <div class="message-body">
      <%= error %>
    </div>
  </article>
  <% end %>
  <%= @inner_content %>
</main>
