<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-8 is-variable box">
        <div class="column has-text-left">
          <%= render "form.html", Map.put(assigns, :action, Routes.feature_path(@conn, :create)) %>
        </div>
      </div>
    </div>
  </div>
</section>
