<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <article class="message is-danger">
      <div class="message-body">
        <p>Oops, ¡algo fue mal! Por favor, verifica los errores de abajo.</p>
      </div>
    </article>
  <% end %>

  <div class="field">
    <%= label f, :movie_id, "Película", class: "label" %>
    <div class="control">
      <%= select f, :movie_id, [], class: "selectize" %>
    </div>
    <p class="help is-danger"><%= error_tag f, :movie_id %></p>
  </div>

  <div class="field">
    <%= label f, :description, "Descripción", class: "label" %>
    <div class="control">
      <%= textarea f, :description, class: "textarea" %>
    </div>
    <p class="help is-danger"><%= error_tag f, :description %></p>
  </div>

  <%= inputs_for f, :reactions, fn g -> %>
    <div class="field">
      <%= label g, :watched, "¿Vista?", class: "label" %>
      <%= checkbox g, :watched %>
    </div>

    <div class="field">
      <%= label g, :reaction, "Reacción", class: "label" %>
      <div class="control">
        <div class="select">
          <%= select g, :reaction_watched, [
            {"Elige una...", ""},
            {"🥰 ¡Me encanta!", "love_it"},
            {"🤯 Alucinante", "mind_blowing"},
            {"😂 Me parto", "lol"},
            {"👍 Me gusta", "like_it"},
            {"😐 Meh", "meh"},
            {"🥱 Aburrida", "boring"},
            {"👎 No me gusta", "dislike_it"},
            {"💩 ¡La odio!", "hate_it"}
          ], class: "is-hidden" %>
          <%= select g, :reaction_non_watched, [
            {"Elige una...", ""},
            {"😱 ¡Deseando verla!", "hype"},
            {"😐 Meh...", "meh"},
            {"🤮 ¡No pienso verla!", "no_way"}
          ] %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= label f, :visibility, "Visibilidad", class: "label" %>
    <div class="control">
      <div class="select">
        <%= select f, :visibility, [
          {"🌍 Público - Todo el mundo puede verlo", "public"},
          {"🔒 Privado - Solo tus contactos lo ven", "private"}
        ] %>
      </div>
    </div>
    <p class="help is-danger"><%= error_tag f, :visibility %></p>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= submit "Publicar", class: "button is-link" %>
    </div>
    <div class="control">
      <%= link "Cancelar", to: Routes.post_path(@conn, :timeline), class: "button is-light" %>
    </div>
  </div>
<% end %>
